:root {
  font-family: Sora, sans-serif, -apple-system, blinkmacsystemfont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  --default-cc-font-size: 1.64vw;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
}
* {
  scrollbar-color: #f1dac4 #0d0d0d;
  scrollbar-width: thin;
}
* {
  box-sizing: border-box;
}
body,
button,
input {
  font-family: Sora;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  margin: 0;
  font-size: 16px;
}

body,
html {
  background: #0d0d0d;
}

body {
  overflow-y: scroll !important;
  margin: 0;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #0d0d0d;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #f1dac4;
  border-radius: 8px;
  border: 2px solid #0d0d0d;
}
